div#wrapper {
	position: relative;
	width: 600px;
	height: 400px;
	overflow: hidden;
	cursor: pointer;
}

div.handle {
	position: absolute;
	height: 100%;
	width: 40px;
	cursor: col-resize;
	z-index: 10;
	margin-left: -20px;
}

div.control {
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	width: 2px;
	background-color: white;
}

div.controller {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 60px;
	width: 8px;
	margin-left: -3px;
	background-color: white;
}

div.arrow {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0; 
	width: 0;
	height: 0;
}

div.arrow.left {
	left: 0px;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent white transparent transparent;
}

div.arrow.right {
	right: 0px;
	border-style: solid;
	border-width: 8px 0px 8px 8px;
	border-color: transparent transparent transparent white;
}


div.image {
	height: 100%;
	display: inline-block;
	top: 0;
	overflow: hidden;
}

div.image.left {
	left: 0;
	background-position: left;
}

div.image.right {
	right: 0;
	background-position: right;
}

div.image div.date {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: black;
	color: white;
	z-index: 0;
}

div.left div.date {
	left: 0;
}

div.right div.date {
	right: 0;
}

