div#wrapper {
	background-color: black;
	position: relative;
	width: 600px;
	height: 400px;
}


div.handle {
	position: absolute;
	width: 5px;
	height: 100%;
	cursor: col-resize;
	background-color: grey;
}

div.image {
	height: 100%;
	display: inline-block;
	float: left;
	top: 0;
	overflow: hidden;
}

div.image.left {
	left: 0;
	background-color: red;
	background-position: left;
}

div.image.right {
	right: 0;
	background-color: blue;
	background-position: right;
}

div.image div.date {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: black;
	color: white;
}

div.left div.date {
	left: 0;
}

div.right div.date {
	right: 0;
}

