export CDN_URL="/juxtapose"
export FLASK_SETTINGS_MODULE="core.settings"
export PROJECT_NAME="JuxtaposeJS"
export DB_NAME__DEFAULT="storymapjs"
export APPLICATION_DOMAINS="not used for local development"
export FLASK_SECRET_KEY="localdev"
export AWS_STORAGE_BUCKET_URL="//uploads.knilab.com/"
export AWS_STORAGE_BUCKET_NAME="uploads.knilab.com"
export AWS_STORAGE_BUCKET_KEY="juxtapose"
export STATIC_URL="/static/"
export FLASK_SETTINGS_FILE="core/settings.py"


# Below are sensitive values which should not be in github.
export ADMINS="one or more space-separated Google user IDs who have access to admin features"
export AWS_SECRET_ACCESS_KEY="get this from a developer"
export AWS_ACCESS_KEY_ID="get this from a developer"
export DROPBOX_APP_KEY="get this from a developer"
export DROPBOX_APP_SECRET="get this from a developer"
export FLASK_DEBUG=True
