{% extends "base.html" %}
{% block title %}Soundcite: Example: Speech{% endblock %}

{% block content %}


  {% with active="speech" %}
  {% include "_examples_nav.html" %}
  {% endwith %}
  <div id="qa" class="row-fluid">
    <div class="offset2 span8">

      <h2><a href="http://articles.latimes.com/2012/oct/20/local/la-me-lafd-aid-20121021">Delayed 911 response a matter of geography and jurisdictions</a></h2>
      <p class="byline">From the <em><a href="http://www.latimes.com/">Los Angeles Times</a></em></p>
      <p class="lead">Stephanie Hooks pleaded for help after collapsing on the floor of her South Los Angeles home.</p>
      <p><span class="soundcite" data-id="61188346" data-start="175796" data-end="177000"><span class="genericon genericon-video"></span>"I can't breathe... .</span> Help me breathe!" the 53-year-old grandmother wailed as frantic family members took turns on the phone with a Los Angeles Fire Department dispatcher, who alerted paramedics at a city station nearly 3 miles away.</p>
      <p>More than a mile closer, just across the city border, rescuers at a Los Angeles County Fire Department station sat idle, unaware of the unfolding emergency, county records show.</p>
      <p>It took more than 10 minutes for LAFD paramedics to reach Hooks, who went into cardiac arrest and died at a hospital. A faster response might not have saved her, but the February 2009 incident highlights a failure to fix how the agency responds to thousands of emergency medical calls along L.A.'s jagged borders despite reforms promised decades ago.</p>
      <p>...</p>
      <p>In South L.A., part of the <a href="http://projects.latimes.com/mapping-la/neighborhoods/neighborhood/gramercy-park/" target="_blank">Gramercy Park neighborhood</a> is surrounded on three sides by county territory. That's where Stephanie Hooks lived for more than 10 years.</p>
      <p>A former quality-control analyst at a microchip firm, Hooks enjoyed caring for her 7-year-old granddaughter and watching her teenage daughter, Alnisha, compete in track and field events.</p>
      <p>Early one morning, Hooks began gasping for air as she left home to walk her dogs.</p>
      <p>"Call 911!" her husband yelled.</p>
      <p>Family members took turns talking to the LAFD dispatcher on speaker phone, according to a copy of the 911 tape obtained by The Times.</p>
      <p><span class="soundcite" data-id="61188346" data-start="80040" data-end="83000"><span class="genericon genericon-video"></span>"Stay calm 'cause the firemen are on the way,"</span> the dispatcher said early on in the call.</p>
      <p>After four minutes, help still had not arrived.</p>
      <p><span class="soundcite" data-id="61188346" data-start="238697" data-end="241090"><span class="genericon genericon-video"></span>"They're not here!" Stephanie Hooks shouted. "I can't breathe!"</span></p>
      <p>"Mommy, you're scaring me," Alnisha told her.</p>
      <p><span class="soundcite" data-id="61188346" data-start="299000" data-end="301370"><span class="genericon genericon-video"></span>"I know there's a fire station on 108th,"</span><br>
       Alnisha said five minutes into the call, referring to the closer county firehouse where medics were available.</p>
      <p><span class="soundcite" data-id="61188346" data-start="403898" data-end="405165"><span class="genericon genericon-video"></span>"Where they at?"</span> demanded Hooks' agitated husband, Alvin. More than a minute later, he asked again.</p>
      <p><span class="soundcite" data-id="61188346" data-start="472438" data-end="475750"><span class="genericon genericon-video"></span>"They're just a little ways away," the dispatcher assured him. "You'll be hearing sirens shortly."</span></p>
      <p>But the agonizing wait continued -- a total of 10 minutes and 30 seconds after the family first reached the LAFD, records show.</p>
      <p>...</p>
        </div>
  </div>

{% endblock %}
