{% extends "base.html" %}
{% block title %}Soundcite: Example: Natural Sound{% endblock %}

{% block content %}

  {% with active="naturalsound" %}
  {% include "_examples_nav.html" %}
  {% endwith %}

  <div id="qa" class="row-fluid">
    <div class="offset2 span8">
      <h2><a href="http://www.nytimes.com/2012/04/21/world/middleeast/anxious-egyptians-jam-tahrir-square-in-protest.html?_r=0">Worried Egyptians Jam Tahrir Square, but Unity Is Elusive</a></h2>
      <p class="byline">From the <em><a href="http://www.nytimes.com/">New York Times</a></em></p>
      <p class="lead">Tens of thousands of Egyptians packed into Tahrir Square in central Cairo on Friday in a spasm of last-minute concern that Egypt's ruling generals might be trying to sabotage the promised transition to civilian democracy after the presidential election beginning next month.</p>
      <p><span class="soundcite" data-id="34598716" data-start="72436" data-end="81701">The crowd was as large</span> as any that has gathered in the square since the protests that forced out President Hosni Mubarak in February 2011. Even more unusual in the increasingly polarized political climate, Islamists, liberals and leftists all found common ground on at least one front: the demand that the generals, who took power with Mr. Mubarak's ouster, finally give it up.</p>
      <p>The catalysts for the protest were the military-led government's management of the early stages of the election, and in particular the selection of the candidates. In the past two weeks, Mr. Mubarak's former spy chief, Omar Suleiman, began a short-lived campaign from inside the office of the intelligence services that set off fears of a plot to restore the old order.</p>
      <p>In that same period, a commission of Mubarak-appointed judges unexpectedly blocked Mr. Suleiman and two Islamists from running. They had been considered front-runners for president. And the top military leader suggested that a new constitution should be written and ratified before a handover of power, meaning the military leaders would control that process, too, and have the ability to safeguard their own powers and interests.</p>
      <p>"The military council is putting the people in a very hard situation, and people are angry because their demands have not come true," said Mohamed Hedaya, 19, a student from the countryside who wears the wispy beard of an ultra-conservative Salafi and attended the protest. "People feel like the old regime has not gone anywhere, and under the army we are living with them still."</p>
      <p><span class="soundcite" data-id="34598716" data-start="247149" data-end="259143"><span class="genericon genericon-video"></span>Protesters from liberal groups and Islamist movements marched to Tahrir</span> from landmarks across the capital, while others from the provinces beyond arrived in a fleet of chartered buses. Egyptian flags competed for space with the Muslim Brotherhood's green flag and the black flags of the Salafi movement. A handful of kites in the national colors of red, white and black bobbed in the sky overhead.</p>
      <p>"The people will not accept a rigged election," declared one banner. "The people will not accept a president from the remnants of the old regime."</p>
      <p>...</p>
        </div>
  </div>

{% endblock %}
