section {
    padding: 20px 0;
}
footer {
    margin-top: 30px;
}
.navbar {
    font-size: 14px;
}

a.help {
  color: inherit;
}
/* To center the SoundCite logo and tagline */
#intro {
  text-align: center;
}

/* To manually center the words SoundCite irrespective of the JS badge */
#intro .logo-mark {
	padding-left: 100px;
}

#update-preview {
  margin-top:
}

#update-preview-wrapper { margin-top: 20px;}
@media all and (max-width:568px) {
	#intro .logo-mark {
		margin-left: -5px;
		padding: 0;
	}
}

/* This media query re-sizes the blueline fixed type sizes. Remove if EMs are implemented */
@media all and (max-width:568px) {
	#intro .logo-mark {
		font-size: 52px;
	}
	#intro .logo-mark span {
		font-size: 18px;
	}
	#intro .lead {
		font-size: 20px;
		line-height: 24px;
	}
	#overview h1 {
		font-size: 32px;
	}
}
em.example {
  display: block;
}

#screencast {
  margin: 50px auto 0 auto;
  display: block;
}
/* To remove the double padding from the 'well' and the 'H4' */
#examples {
	padding-top: 0;
}
#examples figure,#examples .getStarted {
	text-align: center;
}
#examples img {
  /*border-radius: 100%;*/
  /*width: 100%;*/
  height: auto;
	max-width: 200px;
}
#examples .thumbnail { margin-bottom: 5px; }
#examples h3 {
  font-size: 16px;
  line-height: 1.3em;
  color: #1dacd6;
}
#examples h3:hover { color: #147693; }

/*steps from timeline.knightlab.com*/

.step {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 4px double #eee;
}
.step.last { border: none; }

.step h2 {
margin-top: 0;
margin-bottom: 0;
color: #ccc;
font-size: 100px;
line-height: 1em;
}

.step h3 { margin-top: 0; }

/*  AUTHOR TOOLS  */
#right,#left {
	min-height: 800px;
	overflow: auto;
}

@media all and (max-width:568px) {
	#left,#right,#nav {
		position: relative;
		float: none;
		min-height: auto;
	}
}
.connector {
  position: relative;
  top: -5px;
}
.connector:hover {
  cursor: pointer;
}
#nav ol li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#left h3 {
  text-align: left;
}

#code {
  display: none;
}

#start_btn,
#end_btn {
  margin-right: 20px;
}

pre {
  background-color: white !important;
  text-align: center !important;
}

textarea {
  width: 95% !important;
  height: 200px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace !important;
  background-color: white !important;
  cursor: auto !important;
  resize: none !important;
  overflow: auto !important;
  margin-bottom: 40px;
}

#times {
  background-color: #e4f8fe;
  padding: 10px 10px 0px 10px;
  font-size: .9em;
}

#times label{
  font-size: 14px;
}
#linktext {
  width: 40%;
}
#times .btn-link {
  font-size: .9em;
  padding: 0;
  margin: 0 auto;
  display: block;
}

@media all and (min-width:767px) and (max-width:979px) {
  #linklabel {
    display: block;
  }
}
@media all and (max-width:767px) {
  #times .btn-link {
    margin: 0;
  }
}

input::-webkit-input-placeholder {
  font-family: Apres, Helvetica;
  font-size: 14px;
}
input:-moz-placeholder {
  font-family: Apres, Helvetica
  font-size: 14px;
}
input:-ms-input-placeholder {
  font-family: Apres, Helvetica
  font-size: 14px;
}

#examples figure {
  margin: 0px 0px 35px;
}

.urlBox {
  width: 80%;
  font-size: 14px;
}
.example.block a {
  cursor: pointer;
}


/* My Stuff */

.preview {
  margin-bottom: 3em;
}

label[type='checkbox'] span {
  margin-left: 10px;
}

label[type='checkbox'] input {
  vertical-align: middle;
}

.checkbox {
  font-family: Apres, Helvetica;
}

input {
  font-family: Apres, Helvetica;
  font-size: 12px;
}

/* authoring tool */
#authoring-form h6 {
  text-transform: capitalize;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

p.tip {
  font-size: 12px;
  font-family: Apres, Helvetica;
  line-height: 16px;
}
span.tip-plus {
  margin-right: 5px;
  color: #e86b3d;
}

#starting-position {
  width: 50px;
  margin-right: 5px;
}

.juxtapose {
  max-width: none !important;
}

/* FORMS */
.input-group input {
  width: calc(100% - 3em - 12px - 1px - 1em - 1.625em);
}
.input-group .buttons {
  display: inline-block;
  float: right;
}
.input-group:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}
.input-group button {
  width: 3em;
}

.warning {
  font-size: .875em;
}

/* preview */
h6 {
  text-transform: none;
}
#embed-code {
  height: 100px;
}

#oembed-url {
  height: 3em;
}
.show-after-publish {
  display: none;
}

.publish-note {
  font-size: smaller;
  font-style: italic;
  margin-top: -30px;
  padding: 0 20px 0 0;
}

#publish-error {
  display: none;
  margin: 10px 0;
}

#slider-preview-warning {
  margin-top: 1em;
}
.preview-row {
  margin-top: 1.5em;
  margin-bottom: 3em;
}
.or {
  display: inline-block;
  margin-left: 0.625em;
  font-family: Apres, Helvetica;
}

#authoring-form  .column-3,.column-6,.column-9 {
    padding-top: 0px;
    padding-bottom: 0px;
}

#authoring-form h4,h6 {
    margin-top: 0px;
}

.show-after-publish textarea{
    margin-bottom: 1rem;
}

.show-after-publish textarea:last-of-type{
    margin-bottom: 0px;
}

label[for=slider-start] {
    font-size: 80%;
}

input#starting-position {
    margin-left: 3px;
    width: 40px;
}

a.button.dropbox-picker {
    position: relative;
    top: 7px;
    height: 2.3125rem;
    width: 3rem;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-dropbox {
    font-size: 1.8rem;
}
