<section class="container" id="about">
  <h2>About SoundCite</h2>
  <div class="row-fluid">
    <div class="span6">
      <p>SoundCite is one of a series of tools for content creators produced by the Northwestern University Knight Lab. It was created by Medill student <a href="http://www.twitter.com/euphonos/">Tyler Fisher</a> and Medill Asst. Professor <a href="http://www.twitter.com/jeremygilbert/">Jeremy Gilbert</a>.</p>
    </div>
    <div class="span6">
      <p>This project's source code is hosted on <a target="_blank" href="https://github.com/NUKnightLab/soundcite">GitHub</a>.  We encourage you to contribute to the project and we value your feedback.  Feel free to report bugs and discuss features on the <a target="_blank" href="https://github.com/NUKnightLab/soundcite.knightlab.com/issues">GitHub issues page</a>. You can also send email to <a href="mailto:knightlab@northwestern.edu">knightlab@northwestern.edu</a>. </p>
    </div>
  </div>
</section>