<section class="container" id="create-new">
  <div class="row-fluid">
    <div class="span12">
      <h2>Create a Juxtapose slider</h2>
    </div>
  </div>
  <div class="container-fluid">
    <form id="authoring-form">
      <div class="row-fluid">
        <div class="span8">
          <div class="imgBefore row-fluid">
            <div class="span11">
              <h6>Left image</h6>
              <div class="input-group">
                <input type="url" id="before-src" class="urlBox auto-update" placeholder="https://example.com/firstimage.jpg" value="https://juxtapose.knightlab.com/static/img/Sochi_11April2005.jpg">
                <span class="or">or</span>
                <div class="buttons">
                  <button class="btn btn-default dropbox-picker" data-image="before" type="button"><i class="icon-large icon-dropbox" aria-hidden="true"></i></button>
                </div>
              </div>
              <input type="text" id="before-label" value="Apr. 2005" class="span4 auto-update" placeholder="Label (optional)">
              <input type="text" id="before-credit" class="span8 auto-update" placeholder="Credit (optional)">
            </div>
          </div>
          <div class="imgAfter row-fluid">
            <div class="span11">
              <h6>Right image</h6>
              <div class="input-group">
                  <input type="url" id="after-src" class="urlBox auto-update" placeholder="https://example.com/secondimage.jpg" value="https://juxtapose.knightlab.com/static/img/Sochi_22Nov2013.jpg">
                  <span class="or">or</span>
                  <div class="buttons">
                    <button class="btn btn-default dropbox-picker" data-image="after" type="button"><i class="icon-large icon-dropbox" aria-hidden="true"></i></button>
                  </div>
              </div>
              <input type="text" id="after-label" value="Nov. 2013" class="span4 auto-update" placeholder="Label (optional)">
              <input type="text" id="after-credit" class="span8 auto-update" placeholder="Credit (optional)">
            </div>
          </div>
          <p class="tip"><span class="tip-plus">+</span>If you don't have a web server for your images, you can host them on Flickr, Dropbox, or Google Drive.</p>
        </div>
        <div class="span4">
          <div class="row-fluid">
            <div class="span12">
              <h6>Slider start position</h6>
              <input type="number" class="span3" id="starting-position" size="2" placeholder="50" value="50" min="0" max="100" step="1">% <a href="javascript:" id="use-current-position">(use current position)</a>
              <p class="tip"><span class="tip-plus">+</span>You don't have to start with the slider in the middle. You can set it anywhere if that tells your story better.</p>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <h6>Options</h6>
              <label class="checkbox" ><input id="show-labels" class='auto-update' type="checkbox" value="true" checked />Show Labels<a class="help" href="javascript:" data-placement="right" data-content="If checked, your labels will be displayed.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
              <label class="checkbox" ><input id="show-credits" class='auto-update' type="checkbox" value="true" checked />Show Credits<a class="help" href="javascript:" data-placement="right" data-content="If checked, image credits will be displayed below the slider.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
              <label class="checkbox" ><input id="animate" class='auto-update' type="checkbox" value="true" checked />Animate<a class="help" href="javascript:" data-placement="right" data-content="If checked, the divider will glide to the point where someone clicks; otherwise, it will jump.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
              <label class="checkbox" ><input id="make-responsive" class='auto-update' type="checkbox" value="true" checked />Make Responsive<a class="help" href="javascript:" data-placement="right" data-content="If checked, the iframe will be set to 100% width instead of an absolute pixel value.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
              <label class="checkbox" ><input id="vertical" class='auto-update' type="checkbox" value="false" />Vertical<a class="help" href="javascript:" data-placement="right" data-content="If checked, the divider will move vertically instead of horizontally.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
            </div>
          </div>

        </div>
      </div>
    </form>

    <div class="row-fluid">
      <div class="span12" id="update-preview-wrapper">
        <button id="update-preview" class="btn" type="button">Update preview</button>
      </div>
    </div>
  </div>

  <div class="row-fluid preview-row">
     <div class="span12">
      <h4>Preview</h4>
        <div id="preview-container" style="width: 100%;">
          <div id="create-slider-preview">
          <img src="//online.wsj.com/media/LIONDOOR_2A.jpg" height="500 ">
          </div>
        </div>
        <div id="slider-preview-warning" class="span6"></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h2 style="margin-top: 40px">Publishing the slider</h2>
    </div>
  </div>

  <div class="container-fluid">
    <div class="preview">
      <div class="row-fluid">
        <div class="span12 preview">
          <p>Everything above look right? Awesome.</p>
          <button id="publish-slider" class="btn btn-primary">Publish</button>
          <div class="alert alert-error" id="publish-error"></div>
        </div>
      </div>
      <div class="row-fluid show-after-publish">
        <div class="span12 preview">
          <p id="publish-note" class="publish-note">Copy the code in the box below and paste it into your web page or <abbr title="Content Management System">CMS</abbr>. If you update the settings, don't forget to click "Publish" again.</p>
          <textarea readonly="readonly" id='embed-code' class="code"></textarea>
        </div>
      </div>
      <div class="row-fluid show-after-publish">
        <div class="span12 preview">
          <p id="publish-note-oembed" class="publish-note">To embed in a <a href="https://medium.com">Medium</a> blog post, copy the code in the box below and paste it on a line by itself where you want your juxtapose to appear. (<a href="http://knightlab.northwestern.edu/2016/06/15/knight-lab-tools-now-embeddable-on-medium/" target="_blank">Learn more about oEmbed.</a>) If you update the settings, don't forget to click "Publish" again.</p>
          <textarea readonly="readonly" id='oembed-url' class="code"></textarea>
        </div>
      </div>
    </div>
  </div>



</section> <!-- end section -->
