<section class="container" id="create-new">
	<div class="row-fluid">
		<div class="span12">
			<h2>Create a Juxtapose slider</h2>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5">
        <form id="authoring-form">
          <div class="imgBefore row-fluid">
            <h6>Left image</h6>
            <input type="url" id="before-src" class="urlBox span11 auto-update" placeholder="https://example.com/firstimage.jpg" value="{{ url_prefix }}/static/img/Sochi_11April2005.jpg">
            <input type="text" id="before-label" value="Apr. 2005" class="span3 auto-update" placeholder="Label (optional)">
            <input type="text" id="before-credit" class="span8 auto-update" placeholder="Credit (optional)">
          </div>

          <div class="imgAfter row-fluid">
              <h6>Right image</h6>
              <input type="url" id="after-src" class="urlBox span11 auto-update" placeholder="https://example.com/secondimage.jpg" value="{{ url_prefix }}/static/img/Sochi_22Nov2013.jpg">
              <input type="text" id="after-label" value="Nov. 2013" class="span3 auto-update" placeholder="Label (optional)">   
              <input type="text" id="after-credit" class="span8 auto-update" placeholder="Credit (optional)">          
          </div>
          <p class="tip"><span class="tip-plus">+</span>If you don't have a web server for your images, you can host them on Flickr, Dropbox, or Google Drive.</p>

          <div class="row-fluid">
						<div class="span12">
					    <h6>Slider start position</h6>
					    <input type="number" class="span3" id="starting-position" size="2" placeholder="50" value="50" min="0" max="100" step="1">% <a href="javascript:" id="use-current-position">(use current position)</a>
					    <p class="tip"><span class="tip-plus">+</span>You don't have to start with the slider in the middle. You can set it anywhere if that tells your story better.</p>
						</div>	     	                   	
          </div>

          <div class="row-fluid">
						<div class="span12">	
					    <h6>Options</h6>
					    <label class="checkbox" ><input id="show-labels" class='auto-update' type="checkbox" value="true" checked />Show Labels<a class="help" href="javascript:" data-placement="right" data-content="If checked, your labels will be displayed. You must have labels for both images, or they won't be shown, even if this is checked.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
					    <label class="checkbox" ><input id="show-credits" class='auto-update' type="checkbox" value="true" checked />Show Credits<a class="help" href="javascript:" data-placement="right" data-content="If checked, image credits will be displayed below the slider. You must have credits for both images, or they won't be shown, even if this is checked.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
					    <label class="checkbox" ><input id="animate" class='auto-update' type="checkbox" value="true" checked />Animate<a class="help" href="javascript:" data-placement="right" data-content="If checked, the divider will glide to the point where someone clicks; otherwise, it will jump.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
					    <label class="checkbox" ><input id="vertical" class='auto-update' type="checkbox" value="false" />Vertical<a class="help" href="javascript:" data-placement="right" data-content="If checked, the divider will move vertically instead of horizontally.">&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
						</div>
					</div>

          <div class="row-fluid">
            <div class="span12" id="update-preview-wrapper">
            	<button id="update-preview" class="btn" type="button">Update preview</button>
            </div>
          </div>
        </form>
			</div>
			<div class="span7">
				<h6>Preview</h6>
					<div id="create-slider-preview">
					<img src="//online.wsj.com/media/LIONDOOR_2A.jpg" height="500	">
					</div>

			</div>
		</div>		
	</div>

	<div class="row-fluid">
		<div class="span12">
			<h2 style="margin-top: 40px">Publishing the slider</h2>
		</div>
	</div>

	<div class="container-fluid">
		<div class="preview">
			<div class="row-fluid">
				<div class="span5">
					<p>Everything above look right? Awesome.</p><button id="publish-slider" class="btn btn-primary">Publish</button>
				</div>
				
				<div class="span7">
					<textarea readonly="readonly" id='embed-code' class="code"></textarea>
				</div>
			</div>
		</div>				
	</div>



</section> <!-- end section -->
