
        <section id="demo" class="container-fluid">
            <div class="demo-wrapper">
                <div class="interactive-demo">
                    <h3>Interactive</h3>
                    <div style="width:100%;" id="interactive-demo-preview"></div>
                    <p>Create an interactive, embeddable Juxtapose using 2 images. Input the links, choose options, and click publish to receive an embeddable iFrame or shareable link.</p>
                </div>

                <div class="gif-demo">
                    <h3>GIF</h3>
                    <img style="width:100%;" src="../static/img/juxtapose-gif.gif"></iframe>
                    <p>Juxtapose now generates a shareable GIF using 2 images using links or uploaded from your computer. You can then download the GIF to be embedded in your site or article.</p>
                </div>
            </div>
        </section>
