
        <section id="demo" class="container-fluid">
            <div class="grid-size-2 grid-size-1-phone">
                <div class="grid-item">
                    <h3 class="interactive-demo-contents">Interactive</h3>
                    <div class="interactive-demo-contents" id="interactive-demo-preview"></div>
                    <p class="interactive-demo-contents">Create an interactive, embeddable Juxtapose using 2 images. Input the links, choose options, and click publish to receive an embeddable iFrame or shareable link.</p>
                </div>

                <div class="grid-item">
                    <h3>GIF</h3>
                    <img style="width:100%" src="../static/img/juxtapose-gif.gif"></iframe>
                    <p class="gif-demo-contents">Juxtapose now generates a shareable GIF using 2 images using links or uploaded from your computer. You can then download the GIF to be embedded in your site or article.</p>
                </div>
            </div>
        </section>
