<section id="demo" class="container-fluid">
    <div class="container">
        <p class="lead">
            Juxtapose helps you tell a story comparing two images. It supports two different approaches; choose the one that works best for you:
        </p>

    </div>
    <div class="container">
        <div class="grid-size-2">
            <div class="grid-item">
                <h3>Interactive</h3>
                <div style="width:100%;" id="interactive-demo-preview"></div>
                <p>An interactive juxtapose gives your audience control over the slider, and supports simple labels. You can embed it on a web page, or send someone a direct link.</p>
            </div>

            <div class="grid-item">
                <h3>GIF</h3>
                <img style="width:100%;" src="../static/img/juxtapose-gif.gif"></iframe>
                <p>A GIF juxtapose automatically animates the transition between your two images. It is ideal for embedding on social media, slideshows, and other documents.</p>
            </div>

        </div>
    </div>
</section>