<section class="container" id="help">
  <h2>Help</h2>
  <p>Have questions? Look below and see if your question is in the frequently asked questions.</p>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#do-i-need-to-know-code">
          Do I need to know code to use JuxtaposeJS?
        </a>
      </div>
      <div id="do-i-need-to-know-code" class="accordion-body collapse">
        <div class="accordion-inner">
          Absolutely not. JuxtaposeJS is friction-free. If you have the links to two images, you are ready to use JuxtaposeJS.
        </div>
      </div>
    </div>


    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#customize-appearance">
          Can I customize what JuxtaposeJS looks like?
        </a>
      </div>
      <div id="customize-appearance" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>In it's simplest form, JuxtaposeJS is embedded using an <code>&lt;iframe&gt;</code> tag. In this form, there's no way to customize the appearance.</p>
          <p>
          If you are comfortable integrating markup and javascript into your own page, you can go beyond the  <code>&lt;iframe&gt;</code>.
          JuxtaposeJS is designed with a minimalist style meant to work with most websites. If you want to customize the appearance, you can change most of how it looks with CSS rules. Read more on the <a href="https://github.com/NUKnightLab/juxtapose/wiki/Styling-JuxtaposeJS">Github Wiki.</a>
            
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#juxtapose-on-ios">
          Does JuxtaposeJS work on iPhone, iPad, and other iOS devices?
        </a>
      </div>
      <div id="juxtapose-on-ios" class="accordion-body collapse">
        <div class="accordion-inner">
          Yes, JuxtaposeJS works normally on iOS devices.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#can-i-help-build-juxtapose">
          Can I help build new features for JuxtaposeJS?
        </a>
      </div>
      <div id="can-i-help-build-juxtapose" class="accordion-body collapse">
        <div class="accordion-inner">
          Absolutely. <a href="http://www.github.com/NUKnightLab/juxtapose" target="_blank">Fork the project</a> and get involved. <a href="http://knightlab.zendesk.com" target="_blank">Send us feedback</a>. Help us make JuxtaposeJS the tool you need and want it to be.
        </div>
      </div>
    </div>
  </div>
</section>
