
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">
        			<p>
                        Juxtapose helps storytellers compare two pieces of similar media, including photos, and GIFs. It’s ideal for highlighting then/now stories that explain slow changes over time (growth of a city skyline, regrowth of a forest, etc.) or before/after stories that show the impact of single dramatic events (natural disasters, protests, wars, etc.).
                    </p>
        		</div>
        		<div class="grid-item">
                    <h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
        				<li>Use images that are the same size.</li>
        				<li>Export your images to web quality to improve download time.</li>
        				<li>Align your images so that major elements are in alignment.</li>
        			</ol>
        		</div>
        	</div>
        </section>
