{% extends "base.html" %}
{% block content %}
<header id="intro" class="hero-unit">
	<h1 class="logo-mark xl">TBD<span><em>JS</em></span></h1>
	<h2 class="intro">Catchy tagline goes here.</h2>
	<p><a href="#create-new" class="btn btn-large btn-success">Make a slider now</a></p>
</header>

<!-- BEGIN CONTENT -->
<section id="content" class="container">
	<h2>How it Works</h2>
	<p>TBD is a mobile-friendly, easy to use tool for creating before and after image sliders. Visually show change and let readers transform the scene themseleves.</p>
	<section id="examples" class="container">
	<h4>TBD can be used in a variety of situations.</h4>
	<div class="example row-fluid">
		<div class="span4 text-center">
			<h5>Satellite Imagery</h5>
			<p><img src="static/img/sochi.jpg" class="round"></p>
  		</div>
  		<div class="span4 text-center">
  			<h5>Events</h5>
			<p><img src="static/img/ukraine.jpg" class="round"></p>
 		</div>
  		<div class="span4 text-center">
  			<h5>Example 3</h5>
			<p><img src="http://placehold.it/200x200" class="round"></p>
		</div>
	</div>
	<div class="getStarted">
		<h3>Ready to get started?</h3>
		<p>&darr; Make a slider below &darr;</p>
	</div>
	</section>
</div>


</section>
{% include "_create.html" %}
{% include "_faq.html" %}
{% include "_about.html" %}

{% endblock %}

{% block extrascripts %}
<script src="//w.soundcloud.com/player/api.js"></script>
<script src="{{ STATIC_URL }}/js/main.js"></script>
{% endblock %}
