{% extends "base.html" %}
{% block content %}

<header id="intro" class="hero-unit">
	<h1 class="logo-mark xl">Juxtapose<span><em>JS</em></span></h1>
	<h2 class="intro">Frame comparisons. Easy to make. Seamless to publish.</h2>
	<p><a href="#create-new" class="btn btn-large btn-success">Make a slider now</a></p>
</header>

<!-- BEGIN CONTENT -->
<section id="content" class="container">
	<h2>What is it?</h2>
    <p>JuxtaposeJS helps storytellers compare two pieces of similar media, including photos, videos, and gifs. It’s ideal for highlighting then/now stories that explain slow changes over time (grown of a city skyline, regrowth of a forest, etc.) or before/after stories that show the impact of single dramatic events (natural disasters, protests, wars, etc.).</p>
	<p>It is free, easy to use, and works on all devices. All you need to get started are links to the images you'd like to compare.</p>
</section>

{% include "_create.html" %}
{% include "_faq.html" %}
{% include "_about.html" %}

{% endblock %}

{% block extrascripts %}
<script src="{{ STATIC_URL }}/js/main.js"></script>
<script src="{{ STATIC_URL }}/js/smooth-scroll.js"></script>
{% endblock %}
