<html>
<head>
  <link rel="stylesheet" src="juxtapose/css/juxtapose.css">
</head>
<body>
<script src="juxtapose/js/juxtapose.js"></script>
<!--vertical slider -->
<iframe class="juxtapose" id="vertical-slider" width="640" height="426" src="../juxtapose/embed/index.html?uid=983d61f4-469c-11e5-bf72-0e7075bba956"></iframe>
<!--letterbox test (horizontal images)-->
<iframe class="juxtapose" id="horizontal-images" width="100%" height="327" src="../juxtapose/embed/index.html?uid=23c31158-51c2-11e5-8290-0e7075bba956"></iframe>
<!-- pillarbox test (vertical images)-->
<iframe class="juxtapose" id="vertical-images" width="100%" height="525" src="../juxtapose/embed/index.html?uid=bee91c54-5276-11e5-b38d-0e7075bba956"></iframe>
</body>
</html>
