
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">
        			<p>
                        Juxtapose helps storytellers compare two pieces of similar media, including photos, and GIFs. It’s ideal for highlighting then/now stories that explain slow changes over time (growth of a city skyline, regrowth of a forest, etc.) or before/after stories that show the impact of single dramatic events (natural disasters, protests, wars, etc.).
                    </p>
        		</div>
        		<div class="grid-item">
                    <h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
        				<li>Keep it short. We recommend not having more than 20 slides for a reader to click through.</li>
        				<li>Pick stories that have a strong location narrative. It does not work well for stories that need to jump around in the map.</li>
        				<li>Write each event as a part of a larger narrative.</li>
        				<li>Include events that build up to major occurrences — not just the major events.</li>
        			</ol>
        		</div>
        	</div>
        </section>
